.nav-item{
    
    padding: 5px 50px;
}
#titleArea{
    background: url("https://static.wixstatic.com/media/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg/v1/fill/w_1903,h_1124,al_b,q_90,usm_0.66_1.00_0.01,enc_auto/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode:color;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 1000px;
    
}

#topBanner{
    background-color: #d1cac9;
}

hr{
    background-color: black;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.main-body{
    background-color: black;
}
.card-group{
    position: relative;
    justify-content: space-between;
    margin: 20px 10px;
    margin-bottom: 250px;
}

.card-img-top{
    padding: 80px 0px;
}

.imgPopup{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 0%;
    transition: top 1s;

}
.card-img-top:hover + .imgPopup{
    top: 80%;
}

.buyButton{
    padding: 3% 15%;
    background-color: transparent;
    border: none;
    outline: 1px solid black;
}

.buyButton:hover{
    outline: 3px solid black;
}

.card-img-top:hover + .buyButton{
    outline: 3px solid black;
}
.card{
    text-align: center;
    margin: 10px;
    border: none;
}

.card-text{
    padding: 10px;
    text-align: center;
    font-weight: lighter;
}
.card-footer{
    position: absolute;
    background-color: #d1cac9;
    padding-bottom: 30px;
    width: 100%;
    top: 100%;
    left: 0%;
    z-index: 9;
}

.video-container{
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow-x: hidden;
}

.video-container video{
    min-width: 100%;
    top:0%;
    z-index: -1;
}

.image-boxes{
    opacity: 100%;
    transition: opacity 0.3s;
}

.image-boxes:hover{
    opacity: 0;
}